.barra{
    background: var(--neutral);
    width: 100%;
    height: 15vh;
    display: flex;
    flex-direction:row;
    flex-wrap:wrap;
}
.iconos{
    margin: auto;
    list-style: none;
    border: 2px solid black;
    border-radius: 10px;
    width: 20%;
    height: 80%;
    margin: auto;
    text-align: center;
    background: rgba(0, 0, 255, 0);
}
.imagenNav{
    width: 20%;
    height: 50%;
    margin: auto;
}

.imagenNav li{
    filter: invert(0.4) sepia(1) hue-rotate(rgb(255, 255, 255)) saturate(1000%);
    width: 100%;
    height: 100%;
    color: rgb(255, 255, 255);
}